@using HackathonTG.OpenGovernmentData.Core.Models;

<div>
	<MudAutocomplete T="GemeindeVerbrauch" Label="Gemeinden"
					 @bind-Value="@GemeindeVerbrauch"
					 SearchFunc="@(async (s) => await SucheGemeinde(s))"
					 ResetValueOnEmptyText="true" />

	@if(GemeindeVerbrauch is not null)
	{
		<p>@GemeindeVerbrauch.Name</p>
		<p>@GemeindeVerbrauch.ErdoelBrennstoffe</p>
		<p>@GemeindeVerbrauch.Jahr</p>
		<p>@GemeindeVerbrauch.EinwohnerAnzahl</p>
		<p>@GemeindeVerbrauch.FernWaerme</p>
		<p>@GemeindeVerbrauch.Elektrizitaet</p>
		<p>@GemeindeVerbrauch.EnergieBezugsFlaeche</p>
		<p>@GemeindeVerbrauch.Erdgas</p>
		<p>@GemeindeVerbrauch.SonstigeEnergie</p>
		<p>@GemeindeVerbrauch.TotalVerbrauch</p>
	}
</div>